{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->

{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
<br>
<h5>{{ time_now|date:'M d Y' }}</h5>
<!--<a href="{% url 'search' %}"><u>Поиск</u></a>-->
<hr>
<form action="{% url 'search' %}" method="GET">
    {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
    <input type="submit" value="Найти">
</form>
<br>
<br>
<h3><a href="{% url 'category' %}">Выбрать категорию</a></h3>
<br>

    <hr>
    {% if news_list %}
        {% for news in news_list %} <!-- Для каждого товара будете генерироваться новая строчка, т. е. новый html-код. При этом сам цикл работает точно также, как и в Python. product — переменная цикла, т. е. наш товар, взятый из общего списка -->
            <h3><a href="{{ news.pk }}">{{ news.title|truncatewords:7 }}</a></h3> <!-- не забываем, что переменные в шаблоне ничем не отличаются от переменных в Python. Здесь также можно получать доступ к полям класса. Например, здесь мы выводим имя, в следующем столбце описание, и т. д.  -->
            <p>
            <a href="{% url 'news_edit' news.id %}"><u>Редактировать</u></a> <!-- добавим ссылку на редактирование товара-->
            <a href="{% url 'news_delete' news.id %}"><u> Удалить </u></a> <!-- добавим ссылку на удаление товара-->
            </p>
            <p>{{ news.d_time }}</p>
            <p>{{ news.text|truncatechars:50|censor }}</p>

            <br>
        {% endfor %}

    {% else %}
        <h2>Новостей нет!</h2>
    {% endif %}
    <hr>

<p>всего {{ news_list|length }} шт.<p/>

<a href="{% url 'news_create' %}">Добавить статью</a> <br>

<!-- Проверяем что поддерживается постраничный вывод -->
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    <!-- Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

{% endif %}


{% endblock content %}